<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Dumb Form on Vue.js!</title>
  <script src="https://unpkg.com/vanilla-masker@1.1.1/build/vanilla-masker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="shortcut icon" href="https://br.vuejs.org/images/icons/android-icon-192x192.png" type="image/x-icon">
</head>

<body>
  <h1>Vue.js DumbForm</h1>

  <div id="app">
    <form id="form" @submit.prevent="checkForm" action="#" method="post" v-if="!confirm">

      <about-component :about="about" :error="error"></about-component>

      <address-component :address="address" :error="error"></address-component>

      <skills-component :skills="skills" :error="error"></skills-component>

      <description-component :descricao="descricao" :error="error"></description-component>

      <p>
        <input type="submit" class="send" value="Enviar">
      </p>

    </form>

    <div class="finish" v-if="confirm">
      <h2>Confirme seu Cadastro</h2>
      <ul>
        <li>
          <span><b>Nome</b>: {{ about.nome }}</span>
        </li>
        <li>
          <span><b>Telefone</b>: {{ about.telefone }}</span>
        </li>
        <li>
          <span><b>Email</b>: {{ about.email }}</span>
        </li>
        <li>
          <span><b>Data de Nascimento</b>: {{ about.dataNascimento }}</span>
        </li>
        <li>
          <span><b>CPF</b>: {{ about.cpf }}</span>
        </li>
        <li>
          <span><b>Cidade</b>: {{ address.cidade }}</span>
        </li>
        <li>
          <span><b>Estado</b>: {{ address.estado }}</span>
        </li>
        <li>
          <span><b>Linguagens</b>: <span class="value" v-for="linguagem in skills.linguagens">{{ linguagem }}<br></span></span>
        </li>
        <li>
          <span><b>Descrição</b>: {{ descricao.text }}</span>
        </li>
      </ul>
    </div>
  </div>

  <script type="module" src="assets/js/app.js"></script>
</body>

</html>
